/* ----------------------------------------------------------------------------
Components: Field
---------------------------------------------------------------------------- */
.field {
    display: block;
    font-family: $PROMINENT_FONT_FAMILY;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #aeaeae;
    background: #f1f1f1;
    /* stylelint-disable property-no-vendor-prefix */
    /* For form inputs, we want to ensure these prefixes are covered. */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* stylelint-enable */
    appearance: none;
}

.field--select {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%201024%201408%22%3E%3Ctitle%3Esort%3C/title%3E%3Cpath%20d%3D%22M1024%20896q0%2026-19%2045l-448%20448q-19%2019-45%2019t-45-19L19%20941Q0%20922%200%20896t19-45q19-19%2045-19h896q26%200%2045%2019t19%2045zm0-384q0%2026-19%2045t-45%2019H64q-26%200-45-19T0%20512q0-26%2019-45L467%2019q19-19%2045-19t45%2019l448%20448q19%2019%2019%2045z%22/%3E%3C/svg%3E");
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 9px 100%;
    height: 42px;
    font-size: 1rem;
    padding: 0 40px 0 20px;
    width: 100%;
}