/* ----------------------------------------------------------------------------
Components: Text
---------------------------------------------------------------------------- */
.txt--action {
    font-size: 1.2rem;
}

.txt--diminutive {
    font-size: .9rem;
}

a.txt--action {
    color: #000000;
}

a.txt--action:hover {
    color: $BASE_HIGHLIGHT;
}