/* ----------------------------------------------------------------------------
Objects: HList
---------------------------------------------------------------------------- */
.hList {
    display: flex;
}

.hList > * + * {
    margin-left: 12px;
}

.hList--2x > * + * {
    margin-left: 24px;
}