/* ----------------------------------------------------------------------------
Objects: H List
---------------------------------------------------------------------------- */
.h-list {
  display: flex;
}

.h-list > * + * {
  margin-left: 12px;
}

.h-list--2x > * + * {
  margin-left: 24px;
}
