/* ----------------------------------------------------------------------------
Objects: Site
---------------------------------------------------------------------------- */
.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

.site-nav {
  padding-bottom: 16px;
}

.site-ft {
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
}
