/* ----------------------------------------------------------------------------
Objects: VR
---------------------------------------------------------------------------- */
/* stylelint-disable */
$vr-I: 1;
$vr-EXTENSIONS: 20;

@while $vr-I < $vr-EXTENSIONS {
    .vr--#{$vr-I}x { margin-bottom: $BASE_VR_UNIT * $vr-I; }
    $vr-I: $vr-I + 1;
}
/* stylelint-enable */