---
layout: layout.njk
title: Contact
---
<article>
  <header class="vr vr--4x">
    <h2 class="hdg hdg--1">{{ title }}</h2>
  </header>
  <div class="user-content">
    <h2>Department of Sociology</h2>
    <p>
      Zulauf Hall 815<br />
      <a href="tel:1-815-753-0365">815-753-0365</a><br />
      <a href="mailto:kburchfield@niu.edu">kburchfield@niu.edu</a>
    </p>
  </div>
</article>
